@CHARSET "UTF-8";

a {
  text-decoration: none;
  color: black;
}


table {
	width: auto;
	border-collapse: separate;
	text-align: center;
	border-radius: 10px;
    overflow: hidden; 
    border: 2px solid #373a3c;
}

td, th {
	font-size: 10pt;
	border: 1px solid #373a3c;
	height: 30px;
	padding: 20px;
	
}

th {
	background-color: #373a3c;;
	color: #ffffff;
	font-family: Georgia;
}

tr td {
	color: #000000;
	background-color: #ddd;
}

input {
	height: 25px;
	width: 200px;
}

input[type="submit"], [type="reset"], [type="button"] {
	height: 25px;
	width: 80px;
}

header {
	background-color: black;
	padding: 15px;
	color: white;
}

logo {
	color: #fff;
	font-size: 80px;
	transform: rotate(10deg) skew(-10deg);
	-webkit-transform: rotate(10deg) skew(-10deg);
	-moz-transform: rotate(10deg) skew(-10deg);
	-o-transform: rotate(10deg) skew(-10deg);
	-ms-transform: rotate(10deg) skew(-10deg);
	text-shadow: 1px 1px 0 #7d7c7c, 2px 2px 0 #7d7c7c, 3px 3px 0 #7d7c7c,
		4px 4px 0 #7d7c7c, 5px 5px 0 #7d7c7c, 6px 6px 0 #7d7c7c, 7px 7px 0
		#7d7c7c, 8px 8px 0 #555756, 9px 9px 0 #555756, 10px 10px 0 #555756,
		11px 11px 0 #555756, 12px 12px 0 #555756, 13px 13px 0 #555756, 14px
		14px 0 #555756;
}

header a {
	text-decoration: none;
	color: white;
}
footer {
            background-color: black;
            padding: 20px;
            color: white;
            font-size: 1.5ex;
        }
        
        
        .like-button {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	outline: none;
}

.like-button i {
	font-size: 24px; /* 하트 크기 */
	color: #bbb; /* 기본 하트 색상 (회색) */
}

.like-button i.bi-heart-fill {
	color: red; /* 좋아요 클릭 시 빨간색 */
}